main{
    width: 50%;
    margin: auto;
    border:solid 2px black;
    background-color: rgb(216, 162, 254);
    padding: 10px;
}


main input{
    width: 50px;
}

#div-tb{
    height: 100px;
    margin-top: 10px;
    background-color: rgb(66, 85, 4);
}

table{
    width: 100%;
    height: 100%;
    border:1px solid  rgb(9, 27, 225);
}

table td{
    border: 1px solid red;
}