#field{
    width: 600px;
    height: 300px;
    border: solid green 10px;
    margin: auto;
    background-color: lightgreen;
}
.sq{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(139, 57, 247);
    border: black 1px solid;
    box-sizing: border-box;
}
#text{
    margin: auto;
    position: relative;
    left: 550px;
}