.container{
    margin: auto;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.calc{
    height: 370px;
    background-color: rgb(193, 126, 255);
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}
#answer{
    background-color: #ff3fa5;
    width: 370px;
    height: 80px;
    color: black;
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom:18px ;
    text-align: right;
    letter-spacing: 1px;
}
input{
    font-size: 30px;
    width: 65px;
    height: 55px;
    color: rgb(0, 0, 0);
    background: #ff3fa5;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    border: 0px solid ;
}
input[type="button"]:hover{
    cursor: pointer;
    background: #fff;
    color: #000;

}
.btn-red{
    background-color: rgb(247, 59, 59);
}
.btn-blue{
    background-color: rgb(103, 103, 255);
}