<div id="zeda" style="position: relative; width: 400px; height: 400px; border: 1px solid black; overflow: hidden;">
    <div id="movingBox" style="width: 50px; height: 50px; background-color: red; position: absolute; top: 0; left: 0;"></div>
</div>
<div id="buttonContainer">
    <button onmousedown="startMoveDown()">ქვემოთ</button>
    <button onmousedown="startMoveUp()">ზემოთ</button>
    <button onmousedown="startMoveLeft()">მარცხნივ</button>
    <button onmousedown="startMoveRight()">მარჯვნივ</button>
    <button onmousedown="startMoveDownLeft()">ქვემოთ-მარცხნივ</button>
    <button onmousedown="startMoveDownRight()">ქვემოთ-მარჯვნივ</button>
    <button onmousedown="startMoveUpLeft()">ზემოთ-მარცხნივ</button>
    <button onmousedown="startMoveUpRight()">ზემოთ-მარჯვნივ</button>
    <button onmouseup="stopMove()">Stop Movement</button>
</div>

<script>
    const zeda = document.getElementById('zeda');
    const movingBox = document.getElementById('movingBox');
    let intervalId;

    function moveDown() {
        if (movingBox.offsetTop + movingBox.offsetHeight < zeda.offsetHeight) {
            movingBox.style.top = movingBox.offsetTop + 10 + 'px';
        } else {
            clearInterval(intervalId);
        }
    }

    function moveUp() {
        if (movingBox.offsetTop > 0) {
            movingBox.style.top = movingBox.offsetTop - 10 + 'px';
        } else {
            clearInterval(intervalId);
        }
    }

    function moveLeft() {
        if (movingBox.offsetLeft > 0) {
            movingBox.style.left = movingBox.offsetLeft - 10 + 'px';
        } else {
            clearInterval(intervalId);
        }
    }

    function moveRight() {
        if (movingBox.offsetLeft + movingBox.offsetWidth < zeda.offsetWidth) {
            movingBox.style.left = movingBox.offsetLeft + 10 + 'px';
        } else {
            clearInterval(intervalId);
        }
    }

    function startMoveDown() {
        intervalId = setInterval(moveDown, 50);
    }

    function startMoveUp() {
        intervalId = setInterval(moveUp, 50);
    }

    function startMoveLeft() {
        intervalId = setInterval(moveLeft, 50);
    }

    function startMoveRight() {
        intervalId = setInterval(moveRight, 50);
    }

    function startMoveDownLeft() {
        intervalId = setInterval(function () {
            moveDown();
            moveLeft();
        }, 50);
    }

    function startMoveDownRight() {
        intervalId = setInterval(function () {
            moveDown();
            moveRight();
        }, 50);
    }

    function startMoveUpLeft() {
        intervalId = setInterval(function () {
            moveUp();
            moveLeft();
        }, 50);
    }

    function startMoveUpRight() {
        intervalId = setInterval(function () {
            moveUp();
            moveRight();
        }, 50);
    }

    function stopMove() {
        clearInterval(intervalId);
    }
</script>
